---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Contact">
  <div
    class="prose flex flex-col px-6 py-6 xs:px-9 sm:px-12 md:px-16 lg:px-24"
  >
    <h1>Contact</h1>
    <h2>Email</h2>
    <p>
      <strong>umum: </strong>
      <a href="mailto:kontak@dairew.my.id">kontak@dairew.my.id</a>
    </p>
    <ul>
      <li>
        <a href="https://www.facebook.com/daier.it" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://www.twitter.com/03ii00" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="https://www.instagram.com/dei.terada" target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a href="https://www.github.com/dai-re/" target="_blank">Github</a>
      </li>
    </ul>
  </div>
</Layout>
