---

---

<nav class="flex items-center justify-between h-16 px-6">
  <a href="/" class="text-2xl tracking-wide flex">
    <span
      class="bg-gray-700 px-1 text-cyan-50 flex items-center justify-center font-bold rounded-sm"
    >
      D
    </span>
    Gallery
  </a>
  <ul class="flex items-center gap-4">
    <li><a href="https://sos.dairew.my.id/">Contact</a></li>
    <li><a href="https://blog.dairew.my.id">Blog</a></li>
  </ul>
</nav>
