---

---

<nav class="flex h-16 items-center justify-between px-6">
  <a href="/" class="flex text-2xl tracking-wide">
    <span
      class="flex items-center justify-center rounded-sm bg-gray-700 px-1 font-bold text-cyan-50"
    >
      D
    </span>
    Gallery
  </a>
  <ul class="flex items-center gap-4">
    <li><a href="/contact">Kontak</a></li>
    <li><a href="https://blog.dairew.my.id">Blog</a></li>
  </ul>
</nav>
